body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #eef7ec, #b8d8b0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: #5d3a3a;
}

header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 80px; /* Adjust font size */
  animation: floatText 4s ease-in-out infinite alternate;
  font-weight: lighter;
}

.flower-container {
  display: flex;
  justify-content: center;
}

.flower {
  width: 520px; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
  animation: float 4s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

footer {
  text-align: center;
}

.date {
  font-size: 40px; /* Adjust font size */
  animation: floatText 4s ease-in-out infinite alternate;
  font-weight: lighter;
}

@keyframes floatText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 600px) {

  h1 {
    margin: 0;
    font-size: 70px; /* Adjust font size */
    animation: floatText 4s ease-in-out infinite alternate;
    font-weight: lighter;
  }

  .date {
    font-size: 40px; /* Adjust font size */
    animation: floatText 4s ease-in-out infinite alternate;
    font-weight: lighter;
  }

  .flower {
    position: relative;
    max-width: 90%;
    height: auto; /* Maintain aspect ratio */
    animation: float 4s ease-in-out infinite alternate;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
  }

}
